/* 

* Global 
* Nav Bar 
* Hero Slider 
* Mission Statement 
* Call to Action 
* Stories Section 
* Footer 

*/


/* Global */
img{
	width: 100%;
}

/* Nav Bar */
.nav-bar{
	background-color: #DD8700;
	box-shadow: 0px 0px 6px 0px rgba(35, 32, 22, 0.62);
    margin-bottom: 2px;
}
.nav-bar ul{
	list-style: none;
	margin-bottom: 0px;
}
.nav-bar ul li{
	display: inline-block;
	margin-bottom: 0px;
	margin-left: -3.8px;
	margin-top: -8px;
}
.nav-bar ul li a{
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: all .5s;
}
.nav-bar ul li a:hover{
	background-color: rgb(241, 151, 13);
}
.logo{
	width: 150px;
}
.logo a:hover{
	background-color: transparent !important;
}
.logo img{
	width: 100px;
	position: absolute;
	top: 0px;
	background: white;
	border: 1px dotted black;
	border-top: none;
	z-index: 9;
    box-shadow: 1px 1px 6px -1px rgb(221, 135, 0);
}

/* Hero Slider */
.hero-slider .container{
	width: 100%;
	max-width: 100%;
	padding: 0;
}
.bx-wrapper{
	margin-bottom: 30px; 
}
.bx-wrapper .bx-controls-direction a{
	opacity: 0;
	transition: all .5s;
}
.hero-slider:hover .bx-wrapper .bx-controls-direction a{
	opacity: 1;
}
.bx-wrapper .bx-prev{
	left: 30px;
}
.bx-wrapper .bx-next{
	right: 30px;
}
.bx-wrapper .bx-prev:hover{
	background-position: 0 -32px;
	left: 20px;
}
.bx-wrapper .bx-next:hover{
	background-position: -43px -32px;
	right: 20px;
}
.bx-wrapper .bx-viewport{
	border: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 0px;
}
.slide-info{
	position: absolute;
    top: 20%;
    background: rgba(150, 150, 150, 0.32);
    padding: 10px;
}
.slide-info h5{
	margin-bottom: 0px;
}

/* Mission Statement */
.mission-statement h3{
    text-align: center;
    font-weight: bold;
    color: #080808;
    font-family: sans-serif;
    font-size: 30px;
}
.mission-statement p{
	font-size: 20px;
	text-align: center;
}

/* Call to Action */
.call-to-action{
	padding-top: 20px;
	padding-bottom: 20px;
}
.call-to-action .row{
	margin-left: -5%;
}
.call-to-action .container,.stories .container{
    max-width: 80%;
}
.call-to-action .container a{
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	font-size: 20px; 
}
.call-to-action .container a i{
	margin-right: 25px;
	font-size: 25px;
    transform: scale(1.5,1.5);
}
.call-to-action a{
	color: white;
	font-weight: bold;
	margin-left: 5px;
	transition: all .5s;
    box-shadow: -3px 3px 0px 0px rgb(202, 202, 208);
}
.call-to-action .explore{
	background-color: #DD8700;
}
.call-to-action .explore:hover{
	background-color: #BF7C12;
}
.call-to-action .take-action{
	background-color: #F34A09;
}
.call-to-action .take-action:hover{
	background-color: #B33606;
}
.call-to-action .donate{
    background-color: #EC2C2C;
    padding-right: 0px !important;
}
.call-to-action .donate:hover{
	background-color: #DA1B1B;
}
.call-to-action .donate:after{
	transition: all .5s;	
}
.call-to-action .donate:hover:after{
	border-left-color: #DA1B1B;
}
.call-to-action a.donate:after{
    border: 36px solid transparent;
    border-left-color: #EC2C2C;
    content: " ";
    height: 0px;
    position: absolute;
    right: -97px;
    top: 0px;
    width: 0;
}

/* Stories Section */
.stories .container{
	max-width: 85%;
	position: relative;
	margin-top: 70px;
}
.stories-item{
	padding: 10px;
	background: white;
	box-shadow: -7px 7px 0px -3px rgb(202, 202, 208);
	border: 1px solid grey;
	transition: all .5s;
}
.stories-item:hover{
	box-shadow: -10px 10px 0px -3px rgb(202, 202, 208);
}
.stories-item h5{
	font-weight: bold;
	color: #807C7C;
	margin-top: 5px;
	margin-bottom: 5px;
}
.stories-item h5 a{
	text-decoration: none;
	color: #807C7C;
	transition: all .5s;
}
.stories-item h5 a:hover{
	color: #A5A3A3;
}
.stories .section-header{
	padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    position: absolute;
    top: -50px;
    left: -43px;
    background: #DA8300;
}
.stories .section-header i{
	margin-right: 10px;
}
.stories .container .row{
	margin-left: -4%;
    margin-right: -4%;
    padding: 10px;
    border: 10px solid #DA8300;
    box-shadow: -10px 9px 0px -4px rgb(224, 165, 76);
}
.article{
	margin-top: 10em;
}
.article .article-header{
	position: relative;
}
.article .article-header .article-img {
    position:relative;
    width:100%;
    height:100%;
}
.article .article-header .article-img img {
    width:100%;
    vertical-align:top;
}
.article .article-header .article-img:after {
    content: attr(data-content);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 45px;
    padding-top: 20vmin;
    font-weight: bold;
    text-indent: 2em;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.article .article-header .article-img:hover:after {
    opacity:1;
}
.article .article-body{
	margin-top: 20px;
} 


/* Footer */
footer nav.footer-nav{
	margin-top: 50px;
	background-color: rgb(245, 151, 9);
    padding-top: 20px;
	color: white;
}
footer nav.footer-nav h6{
	font-weight: bold;
}
footer nav.footer-nav ul{
	list-style: none;
}
footer nav.footer-nav ul li{
	margin-bottom: 5px;
}
footer nav.footer-nav a{
	text-decoration: none;
	color: white;
	transition: all .5s;
    font-family: sans-serif;
}
footer nav.footer-nav ul li a:hover{
	color:	silver;
}
footer nav.footer-nav .news h6{
	margin-bottom: 10px;
}
footer nav.footer-nav .news li:before { 
    content: "";
    border-color: transparent white;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}

div.footer-bottom{
	background: #DA8300;
}
div.footer-bottom .row{
	padding-top: 20px;
	padding-bottom: 20px;
}
div.footer-bottom p{
	margin-bottom: 0px;
	color: white;
}
div.footer-bottom img{
	display: inline-block;
	width: 40px;
	position: absolute;
	left: -57px;
	top: 21px;
}
footer .footer-nav i{
	margin-right: 10px;
}