/* 

1. Global
2. Nav Bar 
3. Hero Slider

*/


/* Global */
img{
	width: 100%;
}

/* Nav Bar */
.nav-bar{
	background-color: #DC8601;
}
.nav-bar ul{
	list-style: none;
	margin-bottom: 0px;
}
.nav-bar ul li{
	display: inline-block;
	margin-bottom: 0px;
	margin-left: -3.8px;
	margin-top: -8px;
}
.nav-bar ul li a{
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: all .5s;
}
.nav-bar ul li a:hover{
	background-color: #E2AA53;
}
.logo{
	width: 150px;
}
.logo a:hover{
	background-color: transparent !important;
}
.logo img{
	width: 100px;
	position: absolute;
	top: 0px;
	background: white;
	border: 1px dotted black;
	border-top: none;
	z-index: 9;
}

/* Hero Slider */
.hero-slider .container{
	width: 100%;
	max-width: 100%;
	padding: 0;
}
.bx-wrapper .bx-controls-direction a{
	opacity: 0;
	transition: all 1s;
}
.hero-slider:hover .bx-wrapper .bx-controls-direction a{
	opacity: 1;
}
.bx-wrapper .bx-prev{
	left: 30px;
}
.bx-wrapper .bx-next{
	right: 30px;
}
.bx-wrapper .bx-prev:hover{
	background-position: 0 -32px;
	left: 20px;
}
.bx-wrapper .bx-next:hover{
	background-position: -43px -32px;
	right: 20px;
}
.bx-wrapper .bx-viewport{
	border: none;
}